# Python temporary files & environments
__pycache__/
*.pyc
.venv/
.venv*

# Streamlit local settings
.streamlit/

# Secrets
.env
*.env

# OS specific files
.DS_Store
Thumbs.db

#secret folder
.streamlit/secrets.toml